 <div class = "main"> 

  <%= render "template/header"%>
  <%= render "template/search"%>

  <script src = "title.js"></script>

  <div class = "inner">
    <div class = "title">
      <% @lists.each do |list| %>
        <div class = "title-box">
          <%= link_to "#", class: "title-text", id: "link", remote: true do %>
            <%= list.title %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% @lists.each do |list| %>
      <div class = "message" id = "message-content", style = "display: none">

        <%# タイトル表示覧 %>
        <div class = 'list-info'>
          <h3 class = 'list-top'>
            <%= list.title %>
          </h3>
        </div>

        <div class = "messages">
          <%# 画像表示覧 %>
          <div class = "messages-left">
            <div class = "list-left">
              <%= image_tag list.image, class: "list-img" if list.image.attached? %>
            </div>
          </div>

          <%# テキスト表示覧 %>
          <div class = "messages-right">
            <div class = "message-right">
              <div class = "list-right">
                <%= list.poster %>
              </div>
              <div class = "list-right">
                <%= list.date %>
              </div>
            </div>
            <div class = "list-text">
              <%= list.text %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "template/footer"%>

</div>
 