<header classs = "header">

  <div class = "header-box">
    <%= link_to "original", "/", class: "logo" %>
  </div>

  <div class = "header-bar">
    <ul class = "user-page">
      <% if user_signed_in? %>
        <li><%= link_to "新規投稿", new_list_path, class: "new-post", id: "new-post" %><li>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "my-page", id: "my-page" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout", id: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>

</header>
